.SubPageProject {
    box-sizing: border-box;
    font-size: medium;
    background-color: #FEFFFF;
    border-radius: 30px;
    padding: 35px;  
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: auto;
}

.SubPageProject h1 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.SubPageProject p {
    margin-top: 35px;
}

.SubPageProject input {
    width: 228px;
    border-radius: 30px;
    padding: 5px;
    border-color: black;
    border-width: 1px;
}

.SubPageProject textarea {
    width: 70%;
    resize: none;
}

.SubPageProject button {
    width: 30%;
    background-color: #17252A;
    border-width: 2px;
    border-style: dashed;
    border-color: #17252A;
    color: #DEF2F1;
    outline: none;
    display: block;
    padding: 20px 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 90%;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 30px;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.SubPageProject button:hover {
    color: #17252A;
    background-color: #DEF2F1;
}

.DeleteButton {
    width: 30%;
    background-color: #D24225;
    border-width: 2px;
    border-style: dashed;
    border-color: #D24225;
    color: #DEE7E5;
    outline: none;
    display: block;
    padding: 20px 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 90%;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 30px;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.DeleteButton:hover {
    color: #D24225;
    background-color: #DEE7E5;
}

@media all and (max-width: 965px) {
    .SubPageProject button {
        display: block;
        margin-top: 10px;
        width: 100px;
    }
}

@media (max-height: 1000px) {
    .SubPageProject button {
        margin-top: 10px;
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}