.Background{
width: 60%;
height: 70%;
border-radius:30px ;
position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

margin : 0 auto;


position: fixed;
-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}