.All{
	display: flex;
	flex-direction: row;
	}
	.Dreapta{
	
		width: 33%;
		height: 100%;
		background-image: linear-gradient( #1A116B,#B821D5);
		position: absolute;
		overflow: visible;
		border-radius: 30px 0px 0px 30px;
		opacity: 0.8;
	   
	}
	.Welcome{
		color:white;
		font-size: 40px;
		padding-top: 180px;
		text-align: center;
	}
	.DescDreapta{
	
		color:white;
		font-size: 16px;
		padding-top: 30px;
		padding-left: 50px;
		padding-right: 50px;
		text-align: center;
	}
	.ButonDreapta{
		border-color: white;
		border-style: groove;
		fill:"none";
		width: 25%;
		cursor:pointer;
		background-color: Transparent;
		background-repeat:no-repeat;
		justify-content: center;
		padding-right:30px ;
		padding-left:30px ;
		margin-left: 25%;
		padding-top:10px;
		padding-bottom: 10px;
		border-radius:25px;
		margin-top:30px ;
		font-size: 15px;
		font-weight: bold;
		width: 50%;
		height: 40px;
		color:white;
		outline:none;
		text-align: center;
		white-space: nowrap;
	}
	
	
	.St{
		
		margin-top:50px;
		color:#AA14FF;
		font-size: 40px;
		padding-left: 53%;
		width: 100% ;
		height: 100%;
		margin:auto;
		margin-left:30px;
		text-align: center;
	}
	
	.DrGri{
		width: 100%;
		height: 14%;
		background-color: #DBDBDB;
		opacity: 0.61;
		margin:auto;
		margin-top: 20px;
	}
	.ButonSignUp{
		cursor:pointer;
		background-color: #AA14FF;
		justify-content: center;
		border: none;
		border-radius:25px;
		font-size: 15px;
		font-weight: bold;
		width: 30%;
		outline:none;
		color:white;
		text-align: center;
		white-space: nowrap;
		margin:auto;
		background-repeat:no-repeat;
		font-size: 15px;
		height: 40px;
	}
	.inputReg{
		width: 90%;
		height: 60px;
		position: relative;
		text-align: center;
		font-size: 17px;
		background: transparent;
		border: none;
		
	}
	.Circle{
	height: 80px;
	  width: 80px;
	  border-color: #AA14FF;
	  border-radius: 50%;
	  fill:"none";
	  display: inline-block;
	  margin-top: 30px;
	  background-color: Transparent;
	  border-style: groove;
	  border-width: 1px;
	  margin-left: 20px;
	  outline:none;
	}
	
	.Stanga{
	margin: auto;
	
	}
	.para{
		color:#878787;
		font-size: 15px;
		margin:auto;
	   
		width: 100% ;
		text-align: center;
	}
	