.ProfilePage{
    display: flex;
    flex-direction: row;
}

.ProfilePage .Placeholder {
    margin-left: 20%;
}

@media (max-width: 625px) {
    .ProfilePage  .Placeholder {
        margin-left: 125px;
    }

    .ProfilePage {
        width: 625px;
    }
}

