.SubRev {
    margin: auto;
    width: 100%;
    margin-top: 40px;
    font-size: x-large;
    display: inline-block;
    overflow: auto;

}

.SubRev .Text p {
    font-size: medium;
    background-color: #FEFFFF;
}

.SubRev p {
    border-radius: 30px;
    padding: 10px;
}