.ReviewButton {
    width: 50%;
    background-color:   #17252A;
    border-width: 2px;
    border-style: dashed;
    border-color:  #17252A;
    color: #DEF2F1;
    outline: none;
    display: block;
    padding: 20px 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 90%;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 30px;
    user-select: none;
}

.ReviewButton:hover {
    color:    #17252A;
    background-color: #DEF2F1;
}

@media all and (max-width: 965px) {
    .ReviewButton {
        display: block;
        margin-top: 10px;
        width: 100px;
    }
}

@media (max-height: 1000px) {
    .ReviewButton {
        margin-top: 10px;
    }
}