.Navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  background-color: #3ec4bd;
  position: fixed;
  z-index: 1;
}

.Navbar a {
  margin: 20px;
  text-decoration: none;
  color: #17252a;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-drag: none;
}

.Navbar .LogOut {
  margin-left: auto;
}

.Navbar img {
  max-width: 100%;
  max-height: 100%;
  -webkit-user-drag: none;
}

.Navbar a:hover,
.Navbar a:active {
  color: #def2f1;
}

@media (max-width: 700px) {
  .Navbar {
    width: 700px;
  }
}
