.MainPage{
    display: flex;
    flex-direction: row;
}

.MainPage .Placeholder {
    margin-left: 20%;
}

@media (max-width: 625px) {
    .MainPage  .Placeholder {
        margin-left: 125px;
    }

    .MainPage {
        width: 625px;
    }
}